<%- include("handf/header", {bodyclass: "portfolio page"}) %>

		<main role="main">
			<div id="intro-wrap"  data-height="22.222">
				<div id="intro" class="preload darken" >
						<div class="caption" >
							<h2>Curriculum</h2>
							<p>The universe is made of stories, not of atoms.</p>
						</div><!-- caption -->		
					</div><!-- intro -->
				</div><!-- intro -->		

				<div class=" row" id="main">
					<section class="row section" style="background-color: #332219;">
						<div class="row-content buffer even clear-after">
							<div class="section-title">
								<h3 style="color: white; border-bottom-color: white">INTRODUCTION TO LAW</h3>
							</div>
							<div id="main" class="row" style="margin-bottom: 10px;">
								<div style="background-color: #332219;" class="row-content buffer clear-after">
									<ul class="inline cats filter-options">
										<li data-group="CS">Mock Trial Case</li>
										<li data-group="CSY">Practice Guide</li>
									</ul>
		
									<div class="grid-items blog-section masonry-style lightbox preload">
										<% content.forEach((item) => { %>
											<article class="item column three" data-groups=<%= item.tag %>>
												<a href=<%= item.link %>>
													<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span
															class="blog-overlay"><i class="fa-regular fa-file-lines"></i></span></figure>
													<div class="blog-excerpt">
														<div class="blog-excerpt-inner">
															<h5 class="meta-post"><%= item.tagFF%></h5>
															<h2><%= item.title %></h2>
														</div><!-- blog-excerpt-inner -->
													</div><!-- blog-excerpt -->
												</a>
											</article>
									<%  }); %> 
		
										<div class="shuffle-sizer three"></div>
									</div>
								</div>
							</div>
		
					</section>
				</div>


		<%- include("handf/footer") %>
